.marquee-container {
  width: 100%;
  overflow: hidden;
  padding: 10px 0;
  background-color: var(--color-surface);
  border-bottom: none;
  margin-bottom: 2rem;
}

.marquee-inner {
  display: flex;
  width: max-content;
  animation: scroll-reverse 25s linear infinite;
}

.marquee-inner span {
  margin-right: 40px;
  font-size: 1.125rem; /* text-lg */
  color: var(--color-text);
  white-space: nowrap;
  font-weight: 700; /* font-bold */
}

@keyframes scroll-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
